<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pefscomsys.pcc_buea">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".HymeView"
            android:theme="@style/HymnTheme" />
        <activity
            android:name=".ReadingOneActivity"
            android:theme="@style/HymnTheme" />
        <activity
            android:name=".ReadingTwoActivity"
            android:theme="@style/HymnTheme" />
        <activity
            android:name=".PsalmsReadingActivity"
            android:theme="@style/HymnTheme" />
        <activity
            android:name=".ReadingTextActivity"
            android:theme="@style/HymnTheme" />
        <activity android:name=".TheMessenger" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".PresbyterianEcho" />
        <activity
            android:name=".History"
            android:icon="@drawable/church_icon" />
        <activity android:name=".Congregation" />
        <activity android:name=".Health" />
        <activity android:name=".Education" />
        <activity
            android:name=".PdfViewerActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MomoPaymentActivity"
            android:theme="@style/NoActionBar">
        </activity>


        <activity
            android:name=".PaymentActivity"
            android:label="Payment"
            android:theme="@style/HymnTheme">

        </activity>

        <activity android:name=".ChurchCalendar" />
        <activity
            android:name=".AboutActivity"
            android:label="About" />

        <activity android:name=".RetiredPastors">

        </activity>
        <activity android:name=".Communication" />
        <activity android:name=".Presbyteries" />
        <activity android:name=".VisaPayment" />
        <activity android:name=".SundaySchoolActivity" />
        <activity android:name=".BookAbbreviationActivity" />
        <activity
            android:name=".OrangeMoneyPayment" >
        </activity>

        <activity android:name=".FeedBack" />
        <activity android:name=".FeePlan"></activity>
    </application>

</manifest>